@{
    ViewData["Title"] = "About";
}

<div class="row">
    <div class="row">
        <div class="col-sm-12">
            <h2>Downloads</h2>
        </div>
    </div>

    <div class="col-12">
        <div class="card-box">
            <h4>How do I submit my article?</h4>
            <p class="text-muted">The members are kindly requested to go through the following documents before submitting their articles</p>
            <ul>
                <li><p>Please refer to the copyright form <a href="~/Downloads/IJERTS-CopyrightForm_v1.0.docx">here</a></p></li>
                <li><p>Manu script form can be  downloaded from <a href="~/Downloads/IJERTS-ManuscriptTemplate_v1.0.doc">here</a></p></li>
            </ul>
        </div>
    </div>

</div>