
@{
    ViewData["Title"] = "FAQ";
}

<div class="row">
    <div class="row">
        <div class="col-sm-12">
            <h2>Frequently Asked Questions (FAQs)</h2>
        </div>
    </div>

    <div class="col-12">
        <div class="card-box">
            <h4>How do I submit my article?</h4>
            <p class="text-muted">
                <ul>
                    Prospective authors are invited to submit original papers (not being considered for publication elsewhere) in standard format (that is provided) describing new theoretical and/or experimental research by online as well as offline.
                    <br><br>

                    For online paper submission kindly go through our website and <a href="@Url.Action("PostPaper", "Author")" class=""><span>click here</span></a> to post your paper.
                    The link leads you directly to the submission system used by that journal.
                    For offline you can send mail to
                    <b>reachus@ijerts.org</b> with the paper, details about author.
                </ul>
            </p>
        </div>
        <div class="card-box">
            <h4>How much does it cost to publish in an IJERTS journal?</h4>
            <p class="text-muted">
                <ul>
                    Publication charges are available on our website.(
                    <a style="color:rgba(236,34,37,1.00)" href="#">Click here to view Publication Charges</a>)
                    If an author has got more than one accepted papers, then authors have to pay the payment as paper wise individual. Authors have to pay the publication fees in the IJERTS Account only OR through our PayUMoney Payment Link.
                </ul>
            </p>
        </div>
        <div class="card-box">
            <h4>How do i contact IJERTS?</h4>
            <p class="text-muted">
                <ul>
                    <b>Mail Support</b>
                    <br>
                    Authors can communicate any time to IJERTS through mail. Our mail id is reachus@ijerts.org
                    <br>
                    If author have registration ID then kindly mention it in the subject field of the mail.
                    <br>
                    Also author can directly call to our call support department in given time only.
                    <br>
                    <br />

                    <b>Call Support</b>
                    <br>
                    Call support will be available on following mentioned time only:
                    <br>

                    Monday to Saturday: 5:30 To 8:00 PM
                    <br>
                    Sunday: 10:00 AM To 1:00 PM and 5:00 To 6:30 PM
                    <br><br>
                    <b>Contact Number: </b> +91 98944 45344 / +91 97901 86877
                    <br>
                </ul>
            </p>
        </div>
    </div>

</div>