
@{
    ViewBag.Title = "AuthorResponsibility";
}

<div class="row">
    <div class="row">
        <div class="col-sm-12">
            <h2>Responsibiliy of Authors</h2>
        </div>
    </div>

    <div class="col-12">
        <div class="card-box">
            <p class="text-muted">
                An Author is expected to be accountable for the presented data and information in their respective article along with taking the responsibility of the significance. The authors are expected to present genuine original outcome of their research, and an appropriate and relevant citation should be considered while representing the data and documenting the discussion. Authors must provide information which is comprehensible and reproducible. Supporting information such as figures and tables provided by the authors should be legible and must be reproducible technically.
            </p>
        </div>
        <div class="card-box">
            <p class="text-muted">
                An Author should not repeat any previous research data from themselves or anyone else while submitting an original manuscript for a primary publication in any of the journal. The reported scope of work should be based on proper citation from the other publications influencing. Before submitting any article, authors should check the scope of the journal and in case of any query they should contact the Editorial office.
            </p>
        </div>
        <div class="card-box">
            <p class="text-muted">
                Authors should strictly adhere to the authorship criteria. All listed authors must have made a significant contribution to the research presented in the manuscript and approved all its claims. Any person to be considered as an author of an original research article must have contributed in any of the following ways: designed the study, executed the study or conducted the experiments, have taken part in analyzing the data, supported in documenting the article and drawing the conclusion, spearheaded the project as a principal investigator. It is mandatory to include everyone who made a significant contribution towards the completion of the research work.
            </p>
        </div>
        <div class="card-box">
            <p class="text-muted">
                Any financial or personal interest that governs the findings or research in the manuscript along with the details of financial support and its sources should be revealed. Through the submission of an article the respective authors agrees that the article neither is under consideration nor published in any other journal.
            </p>
        </div>
    </div>
</div>